body {
  min-height: 100vh;
  background: url("timer.jpg");
  background-size: cover; 
}

.nav-bg {
  background-color:rgb(82,113,255);
}

.logoS {
  font-family: 'Arbutus Slab';
  font-style: inherit;
  font-size: 30px;
  color: black;
}

.logoK {
  font-family: 'Arbutus Slab';
  font-style: inherit;
  font-size: 30px;
  color: rgb(255,208,52);
}

.linknav {
  font-size:20px;
  font-family:serif !important;
  color: black !important;
}

.footer-bg {
  background-color: gainsboro;
}

.foo-log {
  font-size: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(58, 56, 56);
}

.icon {
  font-size: 30px !important;
}

.background {
  min-height: 100vh;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.timer {
  width: 100%;
  padding: 15px;
  margin: auto;
  white-space: nowrap;
  color: white;
}

.summary {
  width: 50%;
  padding: 15px;
  margin: auto;
  white-space: nowrap;
  display: table;
}

.button-ss {
  margin-left: 5px;
  margin-right: 5px;
}

.checkbox-inline {
  margin-right: 1rem;
}


@media screen and (min-width: 601px) {
  .timer {
    font-size: 100px;
  }

  .checkbox-inline {
    display: inline-block;
  }
}


@media screen and (max-width: 600px) {
  .timer {
    font-size: 50px;
  }

  .checkbox-inline {
    display: block;
  }
}
