body{
  background: #f9f9fa;

}
.card {
  position:relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}


.container_center {
  padding: 3rem;
  min-height: 100vh;
}

.form-control{
  border: none;
  background-color: rgb(82,113,255,40%);
}

.d-flex {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.welcome{
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 30px;
}

.nav-bg {
    background-color:rgb(82,113,255);
  }
  
.logoS {
    font-family: 'Arbutus Slab';
    font-style: inherit;
    font-size: 30px;
    color: black;
  }
  
.logoK {
    font-family: 'Arbutus Slab';
    font-style: inherit;
    font-size: 30px;
    color: rgb(255,208,52);
}

.linknav {
    font-size:20px;
    font-family:serif !important;
    color: black !important;
}

.footer-bg {
  background-color: gainsboro;
}

.foo-log {
  font-size: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(58, 56, 56);
}

.icon {
  font-size: 30px !important;
}

